@media only screen and (min-width: 900px){
.allproducts{
    display:flex;
    flex-wrap: wrap ;
    position: relative;
    width: 932px;
height: 2932px;
/* top: 652px; */
left: 412px;
box-sizing: border-box;


}

.product{
    /* border: 1px solid; */
    width: 300px;
height: 462px;



}
.product Image{
    height:250px;
    width:200px; 
    
}
}

@media only screen and (max-width: 850px){
    .allproducts{
        width: 344px;
height: 1489px;
/* gap: 16px; */
padding-top: 16px;
padding-bottom: 24px;
display: flex;
flex-wrap: wrap;
position: relative;
margin-top: px;
/* top: 293px; */
    }

.product{
    width: 168px;
height: 285px;


}

.product Image{
    height:210px;
    width:168px;  
} 
.product h3{
    font-family: Simplon Norm;
font-weight: 700;
font-size: 10px;
line-height: 100%;
letter-spacing: 0px;
text-transform: uppercase;
width: 144px;
height: 17px;

}
}